<nav class="nav-menu">
    <NavLink class="nav-pill" href="" Match="NavLinkMatch.All">Status</NavLink>
    <NavLink class="nav-pill" href="customers">Kunden & Projekte</NavLink>
    <NavLink class="nav-pill" href="worktime">Arbeitszeit</NavLink>
</nav>
